<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/contact2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="left"><a href=""><img src="../images/download (1) (copy).png" alt=""></a></div>
            <div class="right">
                <a href="../index.html">HOME</a>
                <a href="../templates/mobile.html">MOBILES</a>
                <a href="#"><span>CONTACT</span></a>
               
            </div>
            </div>
            <div class="about">
                <h2>About <span>us</span></h2>
                <p>Realme (stylized in all lowercase; Chinese: 真我; pinyin: Zhēn wǒ) is a Chinese consumer electronics manufacturer based in Shenzhen, Guangdong. It was founded by Li Bingzhong (known as Sky Li) on May 4, 2018, who was a former vice president of Oppo. Starting originally as a sub-brand of Oppo, Realme eventually ventured as its own brand. Realme then became the fastest-growing 5G smartphone brand in Q3 2021</p>
               </div>
               <div class="middle">
                <div class="contact">
                    <h3>Connect <span>us</span></h3>
                    <div class="phone"><i class="fa fa-phone " aria-hidden="true"><span>9856342436</span></i></div>
                        <div class="mail"> <i class="fa fa-envelope " aria-hidden="true"><span>realme@gmail.com</span></i></div>
                        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"><span>Dubai  India   China</span></i></div>

                    
                   </div>

                    <div class="help">
                        <h3>Help <span>&</span> Support</h3>
                        <p>realme care +</p>

                           <!-- <p>FAQ</p> 
                            
                            <p>User Guide</p> -->
                            
                            <p>Service Centers</p>
                            
                           <!-- <p> realme coins</p> -->
                            
                            <!-- <p>E-waste management</p> -->
                            
                            <p>realme Exchange T&C</p>
                    </div>
               </div>

               <div class="reach-us">
                <h3>Reach <span>us</span></h3>
                <div class="email-sec">
                    <div class="mb-3">
                        
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email address">
                      </div>
                      <div class="mb-3">
                        
                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Feedback" rows="3"></textarea>
                      </div>
                      <button type="button" class="btn btn-warning">submit</button>
                </div>
               </div>
              
    </div>










    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>
</html>